@using OOP_Projesi.Entity;
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Ürün Sayfası</h1>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Ürün Fiyatı</th>
        <th>Ürün Stok Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.ProductPrice</td>
            <td>@item.ProductStock</td>
            <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@item.ProductId" class=" btn btn-success">Güncelle</a></td>

        </tr>
    }

</table>
<a href="#" class="btn btn-primary">Yeni Ürün Ekle</a>